@media (max-width: 1230px){
    /*-----------------------------------*/
    .menu > ul > li > a{
        font-size: 14px;
    }
    .get-btn{
        padding: 12.5px 22.5px;
        font-size: 4px;
    }

    .main-center > span{
        font-size: 10px;
    }
    .main-center > p{
        font-size: 12px;
    }
    /*-----------------------------------*/
    .sp-header > span{
        font: bold 10px 'Maven Pro', sans-serif;;
    }
    .sp-header > h2{
        font: bold 50px 'Maven Pro', sans-serif;;
    }
    .sp-header > p{
        font: 12px 'Maven Pro', sans-serif;
    }
    
    .select-plan-wrapp{
        min-height: 400px;
        height: 500px;
    }
    .select-plan-wrapp > span{
        font: 10px 'Maven Pro', sans-serif;
    }
    .select-plan-wrapp > h4{
        font: 14px 'Maven Pro', sans-serif;
    }
    .select-plan-wrapp > p{
        font: 12px 'Maven Pro', sans-serif;
        width: 200px;
    }
    .select-plan-wrapp > .price-btn{
        font: 12px 'Maven Pro', sans-serif;
    }
    .select-plan-wrapp > .price-btn{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    /*-----------------------------------*/
    .header-content > span{
        font: bold 10px 'Maven Pro', sans-serif;
    }
    .header-content > h1{
        font: 50px 'Maven Pro', sans-serif;
    }
    /*-----------------------------------*/
    .fmenu > ul > li > a{
        font-size: 14px;
    }
    .fget-btn{
        padding: 12.5px 22.5px;
        font-size: 4px;
    }
}
@media (max-width: 1000px){
    /*-----------------------------------*/
    header{
        width: 98%;
    }
    .menu{
        width: 70%;
    }
    .menu > ul > li > a{
        font-size: 12px;
    }
    .get-btn{
        padding: 8px 18px;
        font-size: 4px;
    }
    /*-----------------------------------*/
    .fheader{
        width: 98%;
    }
    .fmenu{
        width: 70%;
    }
    .fmenu > ul > li > a{
        font-size: 12px;
    }
    .fget-btn{
        padding: 8px 18px;
        font-size: 4px;
    }
}
@media (max-width: 756px){
    /*-----------------------------------*/
    header{
        width: 99%;
    }
    .menu{
        width: 80%;
    }
    .menu > ul > li > a{
        font-size: 8px;
    }
    .get-btn{
        border: 1px solid white;
        padding: 5px 10px;
        font-size: 4px;
    }
    
    .main-center > span{
        font-size: 10px;
    }
    .main-center > h1{
        font-size: 50px;
        margin: 0.3rem;
    }
    .main-center > p{
        font-size: 8px;
    }
    
    .arrow-down{
        line-height: 50px;
        height: 40px;
        width: 40px;
    }
    /*-----------------------------------*/
    .sp-header > span{
        color: #9fa4af;
        font: bold 14px 'Maven Pro', sans-serif;;
        text-transform: uppercase;
    }
    .sp-header > span::after,
    .sp-header > span::before{
        content: '';
        height: 1px;
        width: 20px;
        background-color: #6e45e2;
        display: inline-block;
        margin: 0 15px;
        vertical-align: middle;
    }
    .sp-header > h2{
        color: #4f4f6f;
        font: bold 60px 'Maven Pro', sans-serif;;
        font-weight: 700px;
        margin: 0.5rem;
    }
    .sp-header > p{
        color: #9fa4af;
        font: 16px 'Maven Pro', sans-serif;
        display: inline-block;
        width: 377px;
    }
    
    .plan{
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
        width: 74%;
        flex-direction: column;
    }
    .select-plan-wrapp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 220px;
        height: 440px;
        border: 1px solid #d3d7e5;
        border-radius: 20px;
        background-color: white;
        margin-top: 50px;
        text-align: center;
        padding-top: 65px;
        transition: all .3s ease-in-out;
        margin-left: 30%;
        margin-bottom: 10%;
    }
    .select-plan-wrapp > p{
        color: #9fa4af;
        font: 12px 'Maven Pro', sans-serif;
        width: 210px;
        line-height: 20px;
    }
    .select-plan-wrapp > .price-btn{
        border: 1px solid #d3d7e5;
        border-radius: 50px;
        background-color: white;
        height: 40px;
        width: 120px;
        margin-top: 20px;
        color: #9fa4af;
        font: 8px 'Maven Pro', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 1s ease;
    }
}
@media (max-width: 665px){
    /*-----------------------------------*/
    header{
        width: 100%;
        height: 7vh;
    }
    .menu{
        width: 95%;
    }
    .menu > ul > li > a{
        font-size: 6px;
    }
    .menu > ul > li > a:hover,
    .menu > ul > li.active{
        padding-bottom: 10px;
    }
    /*-----------------------------------*/
    .header-content > span{
        font: bold 7px 'Maven Pro', sans-serif;
    }
    .header-content > h1{
        font: 30px 'Maven Pro', sans-serif;
    }
    .button-content > button{
        width: 150px;
        height: 40px;
        font: bold 8px 'Maven Pro', sans-serif;
    }
    /*-----------------------------------*/
    .fheader{
        display: flex;
        position: relative;
        z-index: 2;
        width: 95%;
        height: 15vh;
    }
    .fmenu{
        width: 100%;
    }
    .fmenu > ul > li > a{
        color: #6a6a77;
        text-decoration: none;
        font-size: 7px;
        transition: all 0.3s ease-in-out;
    }
    .fget-btn{
        padding: 2px 8px;
        font-size: 4px;
    }
}
@media (max-width: 535px){
    /*-----------------------------------*/
    .select-plan-wrapp{
        margin-left: 15%;
    }
    /*-----------------------------------*/
    .fheader{
        display: flex;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 10vh;
    }
    .fmenu{
        width: 100%;
    }
    .fmenu > ul > li > a{
        color: #6a6a77;
        text-decoration: none;
        font-size: 3.5px;
        transition: all 0.3s ease-in-out;
    }
    .fget-btn{
        padding: 2px 6px;
        font-size: 2px;
    }
}
@media (max-width: 470px){
    /*-----------------------------------*/
    .menu{
        width: 100%;
    }
    .menu > ul > li > a{
        font-size: 3px;
    }
    /*-----------------------------------*/
    .sp-header > span{
        font: bold 10px 'Maven Pro', sans-serif;;
    }
    .sp-header > span::after,
    .sp-header > span::before{
        height: 1px;
        width: 10px;
        margin: 0 7.5px;
    }
    .sp-header > h2{
        font: bold 20px 'Maven Pro', sans-serif;;
        margin: 0.2rem;
    }
    .sp-header > p{
        font: 8px 'Maven Pro', sans-serif;
        width: 200px;
    }
    .header-content > span{
        font: bold 8px 'Maven Pro', sans-serif;
    }
    .header-content > h1{
        font: 20px 'Maven Pro', sans-serif;
    }

    .button-content > button{
        width: 125px;
        font: bold 6px 'Maven Pro', sans-serif;
    }
    .button-content > button{
        width: 110px;
        height: 35px;
        font: bold 8px 'Maven Pro', sans-serif;
    }
}
@media (max-width: 470px){
    /*-----------------------------------*/
    .menu > ul > li > a{
        font-size: 1.5px;
    }

    .main-center > span{
        font-size: 7px;
    }
    .main-center > h1{
        font-size: 35px;
        margin: 0.15rem;
    }
    .main-center > p{
        font-size: 6px;
    }
    /*-----------------------------------*/
    .fmenu > ul > li > a{
        color: #6a6a77;
        text-decoration: none;
        font-size: 1.75px;
        transition: all 0.3s ease-in-out;
    }
    .fget-btn{
        padding: 2px 4px;
        font-size: 2px;
    }
}